{% extends "base.html" %}

{% block title %}
  <title>ToDo List</title>
{% endblock %}

{% block content %}
  <h1>TODO list
    <a href="{% url 'todo:create-task' %}" class="btn btn-primary link-to-page">Add task</a></h1>
  <ul>
    {% for task in tasks %}
      <li>
        <strong>{{ task.name }}
          {% if task.is_done %}
            <span style="color: green">Done</span>
            <a href="{% url 'todo:task-done' pk=task.id %}" class="btn btn-success link-to-page">Complete</a></h1>
          {% else %}
            <span style="color: red">Not done</span>
            <a href="{% url 'todo:task-done' pk=task.id %}" class="btn btn-secondary link-to-page">Undo</a></h1>
          {% endif %}
        </strong>
      </li>
      <li>Created: {{ task.created }} {% if task.deadline %}
        <span style="color: saddlebrown">Deadline: {{ task.deadline }}{% endif %}</span></li>
      <li>Tags:{% for tag in task.tags.all %} {{ tag }}{% endfor %}
        <a href="{% url 'todo:task-update' pk=task.id %}">Update</a>
        <a href="{% url 'todo:task-delete' pk=task.id%}">Delete</a>
      </li>
      <hr class="horizontal gray-light">
    {% endfor %}
  </ul>
{% endblock %}