{% extends "base.html" %}

{% block title %}
  <title>Tags</title>
{% endblock %}

{% block content %}
  <h1>Tags
  <a href="{% url 'todo:tags-create' %}" class="btn btn-primary link-to-page">Add tag</a></h1>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    {% for tag in tags %}
      <tr>
        <td>{{ tag.name }}</td>
        <td><a href="{% url 'todo:tags-update' pk=tag.id %}" class="btn btn-secondary">Update</a></td>
        <td><a href="{% url 'todo:tags-delete' pk=tag.id %}" class="btn btn-secondary">Delete</a></td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}